body {
  background-image: url("./public/star-4773.gif");
  background-size: cover;         /* Make it cover the entire viewport */
  background-position: center;    
  background-repeat: no-repeat;   /* Don’t tile */
  background-attachment: fixed;   /* Fix while scrolling (optional) */
}
.MyTitle{
        font-size: 2rem;
        font-weight: bold;
        font-style: italic;
        color: white;
        margin: 2rem 0;
}
.MySpan {
    
    color: #316af8; 
}
.backgroundColor{
    background-color: rgb(212, 212, 212);
}

.font-style {
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    color: #316af8; 
    

}

